@using Microsoft.EntityFrameworkCore
@using PetHealthHistory.Data

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="text-danger">@Error</div>
}
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="Name">Name:</label>
    </div>
    <div class="col-4">
        <input id="Name" name="Name" type="text" class="form-control" @bind="Name" required />
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label text-nowrap">
        <label for="Kind">Species/Breed:</label>
    </div>
    <div class="col-4">
        <input id="Kind" name="Kind" type="text" class="form-control" @bind="Kind" />
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="Name">Type:</label>
    </div>
    <div class="col-4">
        <select @bind="Type" class="form-select">
            @foreach (var petType in Enum.GetValues(typeof(PetType)))
            {
                <option value="@petType">@petType.ToString()</option>
            }
        </select>
    </div>
</div>
<div class="row py-2">
    <div class="col-2 col-form-label">
        <label for="BirthDate">Birth date:</label>
    </div>
    <div class="col-4">
        <input id="BirthDate" name="BirthDate" type="date" class="form-control" format max="@DateTime.Today.ToString("yyyy-MM-dd")" @bind="BirthDate" required />
    </div>
</div>

<div class="d-flex gap-2">
    <button class="btn btn-outline-secondary" @onclick='() => NavigationManager.NavigateTo("/")'>Cancel</button>
    <button class="btn btn-primary" @onclick="Save">@SaveLabel</button>
</div>


@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public string? Name { get; set; }
    [Parameter] public string? Kind { get; set; }
    [Parameter] public PetType Type { get; set; } = PetType.Dog;
    [Parameter] public DateOnly? BirthDate { get; set; }
    [Parameter] public string? Error { get; set; }
    [Parameter] public string SaveLabel { get; set; } = "Add";

    [Inject] private IDbContextFactory<PetHealthHistoryContext> DbFactory { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }
    
    private async Task Save()
    {
        // walidacja formularza
        Error = null;
        if (string.IsNullOrWhiteSpace(Name))
        {
            Error = "Missing name";
        }

        if (BirthDate == null)
        {
            if (Error == null)
            {
                Error = "Missing birth date";
            }
            else
            {
                Error += " and birth date";
            }
        }
        
        // wyświetl błąd jeżeli któreś pole było nieprawidłowe
        if (Error != null)
        {
            return;
        }

        try
        {
            await using var context = DbFactory.CreateDbContext();
            // jeżeli parametr Id ma wartość to jest to edycja a nie dodanie nowego zwierzęcia
            if (Id.HasValue)
            {
                var pet = await context.Pets.FindAsync(Id.Value);
                if (pet == null)
                {
                    NavigationManager.NotFound();
                    return;
                }

                if (pet.PetType != Type)
                {
                    // przy zmianie typu tworzymy obiekt na nowo, a stary usuwamy
                    var newPet = GetNewPetFromType();
                    context.Pets.Remove(pet);
                    context.Pets.Add(newPet);
                }
                else
                {
                    pet.Name = Name!;
                    pet.Kind = Kind;
                    pet.BirthDate = BirthDate!.Value;
                }
            }
            else
            {
                // stwórz obiekt odpowiedniej klasy na podstawie wartości wybranej przez użytkownika
                var pet = GetNewPetFromType();
                context.Pets.Add(pet);
            }

            await context.SaveChangesAsync();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            return;
        }

        NavigationManager.NavigateTo("/");
    }

    private Pet GetNewPetFromType()
    {
        Pet pet = Type switch
        {
            PetType.Cat => new Cat(Name!, BirthDate!.Value, Kind),
            PetType.Dog => new Dog(Name!, BirthDate!.Value, Kind),
            _ => throw new ArgumentOutOfRangeException($"Invalid pet type: {Type.ToString()}")
        };
        return pet;
    }
}